.sidebar {
	flex: 0.2;
	padding: 25px 10px;
	position: sticky;
	top: 0;
	height: 100vh;

	/* needed for the sidebars to not take up header space when scrolled  */
	padding-top: 77px;
}

.sidebar > h1 {
	font-size: 20px;
	padding: 10px;
	margin-top: 15px;
	color: #777777;
	font-weight: 500;
}
.sidebar > p {
	padding: 12px;
	margin-top: 130px;
	color: #777777;
	font-size: 13px;
}
